/* Reset de estilos para evitar diferenças de navegador */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}



header nav .container img h1{
    
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 90px;

}
.container h2{
    
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    

}

/* Estilos para o menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  .menu img {
    max-width: 100px;
    height: auto;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    background-color: #f2f2f2;
    padding: 5px;
    font-size: large;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: color 0.3s;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.596);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 300.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.925);
  }
  
  .menu a:hover {
    color: #ff6600; /* Cor de destaque ao passar o mouse */
  }
  
  /* Estilos para dispositivos móveis */
  @media screen and (max-width: 768px) {
    .menu {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }
  
    .menu ul {
      margin-top: 10px;
      flex-direction: column;
    }
  
    .menu li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    .menu{
     background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
  }
  



.menu img{
        width: 120px;
        height: 120px;
        margin-left: 0px;
       
}

/* Cabeçalho */
header {
    background-color: #1e58d4;
    color: #fff;
}

header h1 {
    font-size: 24px;
    padding: 5px 0;
}

nav ul {
    display: flex;
   flex-direction:row ;
   justify-content: space-around;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Banner */
#banner {
    background-color: #000000;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 0px 0;
}

#banner img {
    width: 100%;
}

#banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Seção de Serviços */
#servicos {
    background-color: #fff;
    padding: 40px 0;
    
    
}

.servico {
    margin-bottom: 30px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
    padding: 20px;
    border-radius: 2%;

}

.servico h3 {
    font-size: 24px;
}

/* Seção Sobre Nós */
#sobre {
    background-color: #f2f2f2;
    padding: 40px ;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
    margin-bottom: 5px;
}

/* Seção de Contato */
#contato {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

#contato a {
    display: block;
    font-size: 18px;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
}

/* Rodapé */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 14px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cursos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

.cursos img{
    width: 350px;
}

.item {
    background-color: #f2f2f2;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    box-shadow: 10px 5px 5px black;
    border-radius: 5px;
    max-width: 350px;
}

@media (max-width: 1250px) {
    .cursos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    }
}

@media (max-width: 900px) {
    .cursos {
        display: flex;
        flex-direction: row;
        margin: 100px;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    .container ul{
        display: none;
    } 
    /* #banner{
        display: none;
    }    */
    .container img{
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: auto;
    } 
    .container h1{
       display: none;
    } 
   

}

.carga_horaria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-bottom: 10px;
}
.carga_horaria img{
    width: 20px;
    height: 20px;
    padding: 5px;
   
}

h1{ margin-top: 15px;
    margin-bottom: 15px;
}

 a:hover {
    color: #fa0606;
    text-transform: uppercase;
    background-color: yellow;
}

.servico img{
    width: 300px;
    height: 300px;
}

.container_inicial{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.container_sobre h2{

    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;

}

